@page
@model CbgSite.Areas.Projects.Pages.Manage.IndexModel
@{
    ViewData["Title"] = " Manage Projects";
}


<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Leader</th>
            <th>Is Public</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
        <a asp-page="../Index">
            <tr>
                <td>
                    @project.Name <i class="material-icons tiny">edit</i>
                </td>
                <td>
                </td>
                <td>
                    @project.IsPublic
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@project.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@project.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@project.Id">Delete</a>
                </td>
            </tr>
        </a>
        }
    </tbody>
</table>
